<section>
  <div class="section-header">
    <h6>Department</h6>
  </div>
  <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/cmp/allservice']" >Home</a></li>
        <!-- <li class="breadcrumb-item active"><a href="#">Department</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">Department</li>
      </ol>
  </div>
  <div>
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <button class="add-btn" (click)="showSidebarAddDepartmenet = true">
          <i class="pi pi-plus" style="font-size: 0.8rem;"></i> Add Departement
        </button>
      </div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight"> </div>
    </div>
  </div>
  <div class="table-containt">
    <div class="table-heading">
      <p>Department View</p>
    </div>
    <div class="table-table">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Department Name</th>
              <th scope="col">Department Code</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list1; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{item.name}}</td>
              <td>{{item.dept}}</td>
              <td>
                <i class="pi pi-ellipsis-v" style="font-size: 0.8rem; cursor: pointer;" (click)="menu.toggle($event)"></i>
                <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
  </div>
</section>


<!-- Toast -->
<p-toast styleClass="p-toast-sm" [style]="{fontSize: '14px', 'width': '20%'}"></p-toast>

<!-- sidebar -->
<!-- styleClass="p-sidebar-md" -->
<p-sidebar [(visible)]="showSidebarAddDepartmenet" position="right" >   
  <ng-template pTemplate="header"><h6 class="sidebar-header">Add Department</h6></ng-template>
  <app-add-department (formSubmitted)="onFormSubmitted()" ></app-add-department>
</p-sidebar>