.row {
    margin: 0 !important;
    --bs-gutter-x: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
}

.navbar-part{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

.left-nav{
    background-color: rgb(183 58 58 / 50%);
}
.nav-logo img{
    height: 50px;
    margin: 0 0 0 15px;
}
.body-part{
    margin-top: 70px;
}

@media screen and (max-width: 768px) {  
    .navbar-part .right-nav-head{
        padding: 25px 7px 25px 0;
    }
    .left-nav-head{
        height: 70px;
        border-bottom: 1px solid #e9ecef;   
    }
    .left-nav{
        background-color: #fff;
    }
}

.left-side-body{
    height: 120vh;
    background-color: rgb(183 58 58 / 50%);
}

.signupcontainer .sgfrm label{
    font-size: 14px;
    transition: all .5s ease .1s;
    z-index: 7;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.signupcontainer .sgfrm label code{
    margin: 0 0 0 2px;
    color: #000;
}

.right-nav-head{
    padding: 25px 25px;
    border-bottom: 1px solid #e9ecef;
    text-align: end;
    font-size: 14px;
    font-weight: 500;
    height: 70px;
}
.right-nav-head div{
    padding: 0 4px 0 0;
}
.right-nav-head div a{
    text-transform: uppercase;
    color: red;
    text-decoration: none;
    margin: 2px 0 0;
    font-size: 13px;
}

.form-box{
    padding: 2rem 3rem;
    margin: 0 20% 10% 0;
}

@media screen and (max-width: 768px) {  
    .form-box{    
        padding: 2.2rem;
        margin: 0 0% 10% 0;
    }
    .right-side-head{   
        padding: 20px 15px;
    }
}

.form-box .form-logo{
    display: block;
    margin: 0 0 15px;
}

.form-box .form-logo img{
    display: block;
    height: 60px;
}

.sgfrm  {
    margin: 0 0 10px;
    position: relative;
    width: 100%;
}

.sgfrm input{
    background: transparent;
    border: 1px solid rgba(0,0,0,.8);
    outline: 0;
    box-shadow: none;
    padding: 0.5rem;
    z-index: 9;
    font-size: 15px;
    height: 38px;
    margin: 0;
    width: 100%;
}
.sgfrm input:hover, .sgfrm input:active, .sgfrm input:focus-within {
    border: 1.5px solid #3b82f6;
}

.sgchb{
    margin: 0 0 10px;
}
.sgchb label{
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 500;
}
.sgchb label input[type=checkbox]{
    margin: 0 5px -3px 0;
    border-radius: 0;
    border: 1px solid #000;
}

.sgbtn{
    display: block;
    button{
        background-color: red;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        width: 100%;
        font-size: 15px;
        height: 45px;
    }
}