<div>
        <div class="row g-0 navbar-part">
            <div class="col-lg-7 col-md-7 col-sm-6 col-6 left-nav">
                <div class="left-nav-head">
                    <div class="nav-logo">
                        <img src="assets/images/icons/empty-box.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-6 right-nav">
                <div class="right-nav-head">
                    <div>
                        <div>Have a account? <a href="">sign In</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 body-part">
            <div class="col-lg-7 col-md-7 col-sm-0 left-side">
                <div class="left-side-body">
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-0 right-side" style="margin-top: 70px;">
                <div class="right-side-body">
                    <div class="form-box">
                        <div class="form-logo">
                            <img src="assets/images/icons/empty-box.png" alt="">
                        </div>
                        <div>
                            <h4>Start your HRMS</h4>    
                        </div>
                        <div>
                            <div class="signupcontainer">
                                <form class="signup-box" >
                                    <div class="sgfrm">
                                        <label>Name<code>*</code></label>
                                        <input type="text">
                                    </div>
                                    <div class="sgfrm">
                                        <label>Address</label>
                                        <input type="text">
                                    </div>
                                    <div class="sgfrm">
                                        <label>Email<code>*</code></label>
                                        <input type="text">
                                    </div>
                                    <div class="sgfrm">
                                        <label>Username<code>*</code></label>
                                        <input type="text">
                                    </div>
                                    <div class="sgfrm">
                                        <label>Password<code>*</code></label>
                                        <input type="text">
                                    </div>
                                    <div class="sgfrm">
                                        <label>Confirm Password<code>*</code></label>
                                        <input type="text">
                                    </div>
                                    <div class="sgchb">
                                        <label>
                                            <input type="checkbox">
                                            <span>I agree to the Terms of Service and Privacy Policy.</span>
                                        </label> 
                                    </div>
                                    <div class="sgbtn">
                                        <button type="submit">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>