<div>
    <div class="color">
        <h5 class="heading">Dashboard</h5>
        <div class="row p-3"> 

            <div class="tab col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-title">Birthday</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="assets/images/icons/empty-box.png">
                        </div>
                        <p>No Birthday Found</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="tab col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-title">Request for leave approval</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="assets/images/icons/empty-box.png">
                        </div>
                        <p>No Birthday Found</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="tab col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-title">Department</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="assets/images/icons/empty-box.png">
                        </div>
                        <p>No Birthday Found</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="tab col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-title">Role</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="assets/images/icons/empty-box.png">
                        </div>
                        <p>No Birthday Found</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="tab col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-title">Holidays</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="assets/images/icons/empty-box.png">
                        </div>
                        <p>No Birthday Found</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>